<main class="ui container grid">
  <div class="sixteen wide column">
    <h1 class="ui aligned center header">
      Turn on the machine!
    </h1>
  </div>
  <div class="sixteen wide column">
    <%= render partial: 'errors' %>
  </div>
  <div class="sixteen wide column">
    <%= form_with(model: @owner, local: true, class: 'ui form') do |f| %>
      <div class="equal width fields">
        <div class="field">
          <%= f.label :name, 'Name' %>
          <%= f.text_field :name, placeholder: 'John Doe' %>
        </div>
        <div class="field">
          <%= f.label :location, 'Location' %>

          <%= f.text_field :location,
            placeholder: 'Caracas, Capital District, Venezuela' %>
        </div>
      </div>
      <div class="field">
        <%= f.label :about, 'Introductory text' %>
        <%= f.text_area :about %>
      </div>
      <div class="equal width fields">
        <div class="field">
          <%= f.label :profile_image, 'Profile picture' %>
          <%= f.file_field :profile_image %>
        </div>
        <div class="field">
          <%= f.label :email, 'Email' %>
          <%= f.email_field :email, placeholder: 'john.doe@example.net' %>
        </div>
      </div>
      <div class="equal width fields">
        <div class="field">
          <%= f.label :github, 'Github profile link' %>
          <%= f.url_field :github, placeholder: 'https://github.com/john-doe' %>
        </div>
        <div class="field">
          <%= f.label :linkedin, 'LinkedIn profile link' %>

          <%= f.url_field :linkedin,
            placeholder: 'https://www.linkedin.com/in/john-doe-1923' %>
        </div>
      </div>
      <%= f.submit 'Start', class: 'ui red button' %>
    <% end %>
  </div>
</main>
